<h2>Telegraph Creative</h2>
<div id="register" class="container" ng-controller="UserSignupController">
	<form name="form" ng-submit="registerUser()">
		<label for="email">Email</label>
		<input id="email" type="email" ng-model="newUser.email" required />
		<label style="margin-left: 15px;" for="password">Password</label>
		<input id="password" type="password" ng-model="newUser.password" required />		
		<button class="btn" type="submit">Create your account</button>
	</form>
	<span class="byline">Already have an account? <a ui-sref="user-login">Sign in</a></span>
</div>