<navigation></navigation>
<section id="dashboard">
	<div class="sidebar">
		<h4>Accounts</h4>
		<ul>
			<li><a ui-sref="dashboard.viewAccounts">View Accounts</a></li>
			<li><a ui-sref="dashboard.newAccount">Create New Account</a></li>
		</ul>
		<h4>Events</h4>
		<ul>
			<li><a ui-sref="dashboard.viewEvents">View Events</a></li>
		</ul>
	</div>
	<div class="main-content" ui-view></div>
</section>