#createAccount {

	form {
		border-top: 1px solid #bbb;
		padding: 15px 0;
		margin: 15px 0 25px;
	}

	select {
		border-radius: 4px;
	}

	.width1 input {
		display: block;
		width: 100%;
		max-width: 625px;
		margin-top: 10px;
	}

	.width2 input {
		width: 300px;
	}

	.btn {
		margin-bottom: 25px;
	}

	.form_group label:nth-child(2n) {
		margin-left: 15px;
	}
}