<section id="accounts" ng-controller="AccountsController">
	<h4>Active Accounts</h4>
	<div ng-repeat="account in accounts" class="indv-account">
		<p ui-sref="edit-account({accountID: account._id})">{{account.name}}</p>
	</div>
</section>