#dashboard {
	background-color: white;
	min-height: 700px;
	border-top: 50px solid $blue;
	border-radius: 5px;
}

.sidebar {
	position: absolute;
	width: 180px;
	padding-top: 5px;
	min-height: 650px;

	//  

	li a {
		padding-left: 20px;
		height: 30px;
		line-height: 30px;
		display: block;
		font-size: 13px;
		text-decoration: none;
	}
}

.main-content {
	margin-left: 182px;
	padding-top: 5px;
}

#createAccount, #accounts, #events, #accountUpdate {
	h4 {
		text-align: center;
		
	}
}
