<section id="editAccount" ng-controller="EditAccountController">
	<h4>Edit An Account</h4>
	<form name="form" novalidate ng-submit="editAccount()">
		<div class="form_group">
			<label for="first_name">First Name</label>
			<input id="first_name" name="first_name" type="text" ng-model="account.first_name" required />
			<div class="error_message" ng-show="(submitted) && form.first_name.$error.required">
		      <span>Please enter the first name.</span>
		    </div>

		    <label for="last_name">Last Name</label>
			<input id="last_name" name="last_name" type="text" ng-model="account.last_name" required />
			<div class="error_message" ng-show="(submitted) && form.last_name.$error.required">
		      <span>Please enter the last name.</span>
		    </div>
		</div>

		<div class="form_group width2">
		    <label for="email">Email</label>
			<input id="email" name="email" type="email" ng-model="account.email" required />
			<div class="error_message" ng-show="(submitted) && form.email.$error.required">
		      <span>Please enter a valid email.</span>
		    </div>
		</div>

		<div class="form_group width1">
		    <label for="address1">Street</label>
			<input id="address1" type="text" name="address1" ng-model="account.address1" required />
			<div class="error_message" ng-show="(submitted) && form.address1.$error.required">
		      <span>Please enter the street of address.</span>
		    </div>
		</div>
		<div class="form_group width1">
		    <label for="address2">Street Line 2 (Apt/Unit No, P.O. Box, etc.)</label>
			<input id="address2" type="text" ng-model="account.address2" />
		</div>
	
		<div class="form_group">
			<label for="city">City</label>
			<input id="city" name="city" type="text" ng-model="account.city" required />
			<div class="error_message" ng-show="(submitted) && form.city.$error.required">
		      <span>Please enter the city.</span>
		    </div>

			<label for="state">State</label>
			<input id="state" name="state" type="text" ng-model="account.state" required />
			<div class="error_message" ng-show="(submitted) && form.state.$error.required">
		      <span>Please enter the state.</span>
		    </div>
		</div>

		<div class="form_group">
		    <label for="zip">Zip</label>
			<input id="zip" name="zip" type="text" ng-model="account.zip" required />
			<div class="error_message" ng-show="(submitted) && form.zip.$error.required">
		      <span>Please enter the zipcode.</span>
		    </div>
		</div>

		<div class="form_group">
		    <label for="dob">Date of Birth</label>
			<input id="dob" name="dob" type="text" ng-model="account.dob" ng-pattern="example.dob" required />
			<div class="error_message" ng-show="(submitted) && form.dob.$error.required">
		      <span>Please enter a date of birth.</span>
		    </div>
		    <div class="error_message" ng-show="(submitted) && form.first_name.$error.pattern">
		      <span>Please enter DOB in the correct format (MM-DD-YYYY).</span>
		    </div>
		</div>

		<div class="form_group width2">
		    <label for="url">URL</label>
			<input id="url" name="url" type="text" ng-model="account.url" required />
			<div class="error_message" ng-show="(submitted) && form.url.$error.required">
		      <span>Please enter the URL of the account holder.</span>
		    </div>
		</div>

		<div class="form_group width2">
		    <label for="account_holder_name">Account Holder's Full Name</label>
			<input id="account_holder_name" name="account_holder_name" type="text" ng-model="account.account_holder_name" required />
			<div class="error_message" ng-show="(submitted) && form.account_holder_name.$error.required">
		      <span>Please enter the full name of the account holder.</span>
		    </div>	
		</div>

		<div class="form_group">
		    <label for="account_holder_type">Account Type</label>
			<select name="account_holder_type" ng-model="account.account_holder_type">
		      <option value="individual">Individual</option>
		      <option value="business-company">Business / Company</option>
		    </select>
		    <div class="error_message" ng-show="(submitted) && form.account_holder_type.$error.required">
		      <span>Please select the type of the account.</span>
		    </div>
		</div>

		<div class="form_group">
		    <label for="bank_name">Bank Name</label>
			<input id="bank_name" name="bank_name" type="text" ng-model="account.bank_name" required />
			<div class="error_message" ng-show="(submitted) && form.bank_name.$error.required">
		      <span>Please enter the bank name for the account holder.</span>
		    </div>
		</div>

		<div class="form_group">
		    <label for="routing_number">Routing Number</label>
			<input id="routing_number" name="routing_number" type="text" ng-model="account.routing_number" required />
			<div class="error_message" ng-show="(submitted) && form.routing_number.$error.required">
		      <span>Please enter the routing number for the account holder's bank.</span>
		    </div>
		</div>

		<div class="form_group">
		    <label for="account_number">Account Number</label>
			<input id="account_number" name="account_number" type="text" ng-model="account.account_number" required />
			<div class="error_message" ng-show="(submitted) && form.account_number.$error.required">
		      <span>Please enter the account number for the account holder's banking.</span>
		    </div>

		</div>

		<div class="form_group">
		    <label for="tax_id">Tax ID</label>
			<input id="tax_id" name="tax_id" type="text" ng-model="account.tax_id" required />
			<div class="error_message" ng-show="(submitted) && form.tax_id.$error.required">
		      <span>Please enter the tax ID for this account.</span>
		    </div>
		</div>

		<div class="form_group">
		    <label for="personal_id_number">Social Security Number of Account Holder</label>
			<input id="personal_id_number" name="personal_id_number" ng-pattern="example.personal_id_number" type="text" ng-model="account.personal_id_number" required />
			<div class="error_message" ng-show="(submitted) && form.personal_id_number.$error.required">
		      <span>Please enter the social security number of the account holder..</span>
		    </div>
		    <div class="error_message" ng-show="(submitted) && form.dob.$error.pattern">
		      <span>Please enter the social security number of the account holder in the correct format (XXX-XX-XXXX).</span>
		    </div>
		</div>

		<div class="form_group">
		    <label for="last_4">Last 4 Digits of Account Holder's SSN</label>
			<input id="last_4" name="last_4" type="text" ng-model="account.last_4" required />
			<div class="error_message" ng-show="(submitted) && form.last_4.$error.required">
		      <span>Please enter the last 4 digits of the account holder's social security number.</span>
		    </div>
		</div>

		<button class="btn">Submit</button>
	</form>
</section>
