<!DOCTYPE html>
<html lang="en">
  <head>
  	<base href="/">

    <title>Telegraph Creative</title>
    
    <script src="https://use.typekit.net/wln5fbd.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    
    <link rel='stylesheet' href='/style.css' />
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />

    <script src="/angular/angular.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/main.js"></script>
  </head>
  <body ng-app="apiApp">
    <div class="container" ui-view></div>
  </body>
</html>
