* {
  box-sizing: border-box; }

html {
  background-color: #e8e8e8; }

body {
  margin: 0;
  padding: 0; }

a {
  color: #019CDB; }

a, p {
  font-family: 'museo-sans'; }

ul {
  list-style: none;
  padding-left: 0;
  margin: 0; }

h2 {
  font-family: 'museo-slab';
  text-transform: uppercase;
  text-align: center; }

h4 {
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 0 0 10px;
  color: #96a0ad;
  margin: 0;
  font-family: 'museo-slab'; }

label {
  font-family: 'museo-slab';
  margin-right: 15px; }

input {
  background-color: #fff;
  color: #000;
  font-size: 14px;
  padding: 6px 7px;
  width: 200px;
  border: 1px solid #bbb;
  border-top-color: #999;
  border-radius: 4px;
  -ms-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18);
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18);
  -webkit-font-smoothing: antialiased; }

.btn {
  display: block;
  font-family: 'museo-sans';
  font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
  height: 35px;
  color: #FFF;
  border-radius: 4px;
  background: #019CDB;
  background: -webkit-linear-gradient(#58BBF5, #019CDB);
  background: linear-gradient(#58BBF5, #019CDB);
  border: 1px solid #019CDB;
  cursor: pointer; }

.form_group {
  margin: 25px 0; }

.container {
  width: 80%;
  margin: 0 auto;
  max-width: 960px; }

.nav-wrap {
  margin: 30px 0; }

#signout {
  float: right;
  line-height: 75px;
  cursor: pointer; }
  #signout i {
    color: #96A0AD; }

#dashboard {
  background-color: white;
  min-height: 700px;
  border-top: 50px solid #019CDB;
  border-radius: 5px; }

.sidebar {
  position: absolute;
  width: 180px;
  padding-top: 5px;
  min-height: 650px; }
  .sidebar li a {
    padding-left: 20px;
    height: 30px;
    line-height: 30px;
    display: block;
    font-size: 13px;
    text-decoration: none; }

.main-content {
  margin-left: 182px;
  padding-top: 5px; }

#createAccount h4, #accounts h4, #events h4, #accountUpdate h4 {
  text-align: center; }

#createAccount form {
  border-top: 1px solid #bbb;
  padding: 15px 0;
  margin: 15px 0 25px; }

#createAccount select {
  border-radius: 4px; }

#createAccount .width1 input {
  display: block;
  width: 100%;
  max-width: 625px;
  margin-top: 10px; }

#createAccount .width2 input {
  width: 300px; }

#createAccount .btn {
  margin-bottom: 25px; }

#createAccount .form_group label:nth-child(2n) {
  margin-left: 15px; }

#accounts .indv-account {
  margin-bottom: 15px; }

#register form {
  margin-top: 25px; }

#register .btn {
  margin: 25px 0; }

#register .byline {
  font-family: 'museo-sans'; }

#login form {
  margin-top: 25px; }

#login .btn {
  margin: 25px 0; }

#login .byline {
  font-family: 'museo-sans'; }
