* {
	box-sizing: border-box;
}

html {
	background-color: #e8e8e8;
}

body {
	margin: 0;
	padding: 0;
}

//Colors

$blue: #019CDB;

a {
	color: $blue;
}

a, p {
	font-family: 'museo-sans';
}

ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

h2 {
    font-family: 'museo-slab';
    text-transform: uppercase;
    text-align: center;
}

h4 {
	font-size: 16px;
    text-transform: uppercase;
    padding: 10px 0 0 10px;
    color: #96a0ad;
    margin: 0;
    font-family: 'museo-slab';
}

label {
	font-family: 'museo-slab';
	margin-right: 15px;
}

input {
	background-color: #fff;
    color: #000;
    font-size: 14px;
    padding: 6px 7px;
    width: 200px;
    border: 1px solid #bbb;
    border-top-color: #999;
    border-radius: 4px;
    -ms-box-shadow: inset 0 1px 2px rgba(0,0,0,.18);
    -o-box-shadow: inset 0 1px 2px rgba(0,0,0,.18);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.18);
    -webkit-font-smoothing: antialiased;
}

.btn {
    display: block;
    font-family: 'museo-sans';
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    height: 35px;
    color: #FFF;
    border-radius: 4px;
    background: #019CDB;
    background: -webkit-linear-gradient(#58BBF5, #019CDB);
    background: linear-gradient(#58BBF5, #019CDB);
    border: 1px solid #019CDB;
    cursor: pointer;
}

.form_group {
	margin: 25px 0;
}

.container {
	width: 80%;
	margin: 0 auto;
	max-width: 960px;
}

@import './navigation/navigation.directive.scss';
@import './dashboard/dashboard.scss';

@import './dashboard/dashboard.newAccount.scss';
@import './dashboard/dashboard.viewAccounts.scss';

@import './user-signup/user-signup.scss';
@import './user-login/user-login.scss';