<div class="nav-wrap">
	<a ui-sref="dashboard"><img ng-src="https://s3.amazonaws.com/api.telegraph/telegraph-primary-logo.png" /></a>
	<a id="signout" ng-click="userLogout()"><i class="fa fa-user" aria-hidden="true"></i> Sign out</a>
</div>