<h2>Telegraph Creative</h2>
<div id="login" class="container" ng-controller="LoginController">
	<form name="form" ng-submit="login()">
		<label for="username">Username</label>
		<input id="username" type="text" ng-model="user.username" required />
		<label style="margin-left: 15px;" for="password">Password</label>
		<input id="password" type="password" ng-model="user.text" required />
		<button class="btn" type="submit">Sign in to your account</button>
	</form>
	<span class="byline">Don't have an account? <a ui-sref="user-signup">Sign up</a></span>
</div>